<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>My Home Page</title>
</head>
<body>
    <p><a href="/">Home</a></p>
    <% if (result) { %>
        <!-- ifの引数でresultを定義しているから、resultの中のtitle, director, year, genreになる。result.をつける！ -->
        <h2><%= result.title %> details</h2>
        <div class="container">
            <ul>
                <li>Director: <%= result.director %></li>
                <li>Pub. year: <%= result.year %></li>
                <li>Genre: <%= result.genre %></li>
            </ul>
        </div>
    <% } else { %>
        <!-- ifの引数としてはresultを定義したけど、elseの中では定義してないからこっちはresult.titleではなくただtitle -->
        <h2><%= title %> not found</h2>
    <% } %>
</body>
<script src="index.js"></script>
</html>